# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales/swap
*.log
*.swp
*.swo
*~

# Node.js y npm cache
node_modules/
.npm

# Editor Visual Studio Code y VS
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio temporales generales
*.tmp
*.tmp_proj
*.tlog
*.vspscc
*.vssscc
.vs/
.history/
.ionide/
*.dbmdl
*.aps
*.vsix

# Builds/compilaciones
dist/
build/
coverage/
.cache/

# Variables de entorno
.env
.env.*

# Otros (personalizable)
test/
tests/
__pycache__/
